<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--(C)2010-ID-Informatik-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:template="http://www.webframework.fr/last/xmlns/template" xml:lang="fr" lang="fr" dir="ltr">
<head>
    <script type="text/javascript" src="lib/io/IO.js"></script>
    <script type="text/javascript">
        YUI(wfw_yui_config(wfw_yui_base_path)).use('wfw-io','node', function (Y)
        {
            var wfw = Y.namespace("wfw");

            //connection status change
            var onLoad = function(e)
            {
                //standard
                Y.Node.one("#sendBtn").on("click",function(){
                    var fileEl = Y.Node.one("#file");
                    wfw.IO.sendFileFromElement(fileEl.getDOMNode(),{
                        callback:function(args,status){
                            Y.Node.one("#status").set("text",status);
                            switch(status){
                                case wfw.IO.UploadStatus.Update:
                                    Y.Node.one("#status").set("text",status + " ("+args.packet_num+")");
                                    break;
                                case wfw.IO.UploadStatus.End:
                                    alert("upload complete");
                                    break;
                            }
                        }
                    });
                });
            }
            //initialise les evenements
            Y.one('window').on('load', onLoad);
        });
    </script>
    
    <script type="text/javascript" src="js/MyApp.IO.js"></script>
    <script type="text/javascript">
        MyApp.Loading.addCallback(
            function(Y){
                var wfw = Y.namespace("wfw");

                //extjs
                Y.Node.one("#extjsDialogBtn").on("click",function(){
                    var fileEl = Y.Node.one("#file2");
                    var dlg = Ext.create('MyApp.IO.UploadDialog',{
                        fileEl   : fileEl.getDOMNode(),
                        callback : function(args,status){}
                    });
                    dlg.show();
                });
            }
       );
    </script>
    
    
    <script type="text/javascript" src="js/MyApp.IO.Upload.Image.js"></script>
    <script type="text/javascript">
        MyApp.Loading.addCallback(
            function(Y){
                var wfw = Y.namespace("wfw");

                var imgForm = Ext.create('MyApp.IO.Upload.Image', {
                    renderTo:'imageUpload'
                });
                imgForm.loadImage("uJaliw16");
            }
       );
    </script>
</head>

<!-- Document -->
<body>

    <h1>Envoyer un fichier</h1>
    <h2>Méthode HTML</h2>
    <div>Fichier: <input id="file" name="file" type="file" /><input id="sendBtn" type="button" value="Envoyer" /><br/>Statut: <span id="status"></span></div>
    
    <h2>Extjs/Dialog</h2>
    <div>Fichier: <input id="file2" name="file2" type="file" /><input id="extjsDialogBtn" type="button" value="Envoyer" /></div>
    
    <h2>Extjs/Image</h2>
    <div id="imageUpload" style="width:600px;height:400px;"></div>
    
    
</body>

</html>
