<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:template="http://www.webframework.fr/last/xmlns/template" xml:lang="fr" lang="fr" dir="ltr">
<head>
        <!-- Title -->
        <title>Editeur d'envois</title>

        <!-- Navigator Page Id -->
        <meta http-equiv="wfw.page-id" content="upload_editor" /> 

        <!-- meta -->
        <meta name="description" content="Editeur d'envois" />
        <meta name="keywords" content="upload, editeur" />
        
        <script type="text/javascript" src="js/MyApp.IO.Upload.js"></script> 
        <script type="text/javascript">
            Ext.apply(MyApp.Loading, { onInitLayout: MyApp.IO.Upload.onInitLayout });
        </script> 
</head>

<!-- Document -->
<body>
</body>

</html>
